*{
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #23281B;    
  font-family: 'Source Serif 4', serif;  
}

.navi ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #23281B;
}

.navi li {
  margin-left: 40px;
}


.mainbody{
  text-align: center;
  font-size: 50px;
  font-family: 'Domine', serif;
  color: #23281B;
}

.firstimg{
    display: flex;
    justify-content: center; 
    align-items: center; 
    }

.pehla{
  border-radius: 2%;
  width: 95%;
  margin-bottom: 100px;
}

.final_text{
  width: 95%;
  font-size: 160%;
  color: rgba(35, 40, 27, 1);
}

.final_2{
  margin-left: 50%;

}

.ground {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-left: 0;
  padding-right: 0;
}

.grod {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align:left;
  font-family: 'Public Sans', sans-serif;
}

.grod img {
  width: 100%;
  height: auto;
  display: block;
}

.grod h3 {
  margin: 15px 0 5px;
  font-size: 1.2em;
  color: #23281B;
}

.grod p {
  margin: 0 0 15px;
  font-size: 0.9em;
  color: rgba(38, 46, 20, 0.62);
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: rgba(35, 40, 27, 1);
}

.description {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Public Sans', sans-serif;
}

.description th,
.description td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.description th {
  font-size: 1.1em;
  color: rgba(35, 40, 27, 1);
}

.description td {
  font-size: 1em;
  color: rgba(38, 46, 20, 0.62);
}

.description td:nth-child(2) {
  text-align: left;
}

.description td:nth-child(3) {
  text-align: left;
}

.description th:nth-child(2),
.description th:nth-child(3) {
  text-align: left;
}



.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
}

.footer-text {
  color: rgba(38, 46, 20, 0.62);
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

.footer-button {
  background-color: transparent;
  color: rgba(35, 40, 27, 1);
  border: 1px solid rgba(98, 110, 73, 0.2);
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Public Sans', sans-serif;
}

.footer-button:hover {
  background-color: #555555;
  color: #ffffff;
}


/*small phone */
/* @media (max-width: 320px) {
  .header {
    flex-direction: row;
    padding: 10px 0;

  }

  .navi ul {
    flex-direction: row;
    align-items: center;
  }
  

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #23281B;    
  font-family: 'Source Serif 4', serif;  
}

.navi ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #23281B;
}

.navi li {
  margin-left: 40px;
}


.mainbody{
  text-align: center;
  font-size: 50px;
  font-family: 'Domine', serif;
  color: #23281B;
}

.firstimg{
    display: flex;
    justify-content: center; 
    align-items: center; 
    }

.pehla{
  border-radius: 2%;
  width: 95%;
  margin-bottom: 100px;
}

.final_text{
  width: 95%;
  color: rgba(35, 40, 27, 1);
}

.final_2{
  margin-left: 50%;
  font-size: 70%;

}

.ground {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-left: 0;
  padding-right: 0;
}

.grod {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align:left;
  font-family: 'Public Sans', sans-serif;
}

.grod img {
  width: 100%;
  height: auto;
  display: block;
}

.grod h3 {
  margin: 15px 0 5px;
  font-size: 1.2em;
  color: #23281B;
}

.grod p {
  margin: 0 0 15px;
  font-size: 0.9em;
  color: rgba(38, 46, 20, 0.62);
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: rgba(35, 40, 27, 1);
}

.description {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Public Sans', sans-serif;
}

.description th,
.description td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.description th {
  font-size: 1.1em;
  color: rgba(35, 40, 27, 1);
}

.description td {
  font-size: 1em;
  color: rgba(38, 46, 20, 0.62);
}

.description td:nth-child(2) {
  text-align: left;
}

.description td:nth-child(3) {
  text-align: left;
}

.description th:nth-child(2),
.description th:nth-child(3) {
  text-align: left;
}



.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
}

.footer-text {
  color: rgba(38, 46, 20, 0.62);
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

.footer-button {
  background-color: transparent;
  color: rgba(35, 40, 27, 1);
  border: 1px solid rgba(98, 110, 73, 0.2);
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Public Sans', sans-serif;
}

.footer-button:hover {
  background-color: #555555;
  color: #ffffff;
} */


/*mobile phone */
@media (max-width: 480px) {
  .header {
    flex-direction: row;
    padding: 10px 1px;
  }


  .navi ul {
    flex-direction: row;
    align-items: center;
    font-size: .5rem;
  }

  .navi-ul li {
    margin-left: 2%;
    margin-bottom: 10px;
    margin-top: 5%;
    font-size: 1px;
  }

  .mainbody{
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }

  .final_text {
    font-size: 24px;
    text-align: center;
    margin: 1px;
    font-family: 'Public Sans', sans-serif;
  }

  .ground {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* margin-left: 40px; */
    
  }

  .container {
    padding: 10px;
  }

  .footer {
    flex-direction: row;
    text-align: center;
    padding: 10px;
  }

  .footer-button {
    margin-top: 10px;
    }  }



@media only screen and (min-width: 481px) and (max-width: 767px) {
  .navi ul {
    justify-content: space-around;
  }

  .mainbody h1 {
    font-size: 40px;
  }

  .ground {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  } 

  .final_text {
    font-size: 36px;
  }

  .container {
    padding: 15px;
  }
}


@media(min-width: 768px) and (max-width: 1024px) {
  .header {
  padding: 15px 30px;
  }
  .final_2{
  font-size: 100%;
  }

  .logo{
    font-size: 24px;
  }
  .navi li {
    margin-left: 2%;
    margin-bottom: 10px;
    margin-top: 5%;
  }

  .mainbody h1 {
    font-size: 30px;
  }

  .final_text {
    font-size: 24px;
    text-align: center;
    margin: 1px;
    font-family: 'Public Sans', sans-serif;
  }

  .ground {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .container {
    padding: 10px;
  }

  .footer {
    flex-direction: row;
    text-align: center;
    padding: 10px;
  }

  .footer-button {
    margin-top: 10px;
  }
}